<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Error!</title>
</h:head>

<h:body>
	<f:event type="preRenderView" 
		listener="#{errorBean.logClientException(param.message, param.url, param.line)}" />
	<h3 style="color: red">Uh oh, something bad happened. Our trolls
		are busily working to fix the problem. Please try again later.</h3>
</h:body>
</html>