<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputScript library="javax.faces" name="jsf.js" />

	<h:outputScript target="body">
		jQuery(document).ajaxError(function(event, request, settings) {
		  displayErrorMsg();
		});
		
		window.onerror = function(message, url, line) {
			displayErrorPage(message, url, line);
		}
		
		function displayErrorMsg() {
			alert("Sorry, an unexpected error has occured. Please refresh the page.");
		}

		function displayErrorPage(message, url, line) {
			window.location.assign("/expected/error.jsf?message=" + message+ "&amp;url=" + url + "&amp;line=" + line);
		}
		
		jsf.ajax.addOnError(function(error) {
			displayErrorPage("Ajax error " + error.status + "; name = " + error.errorName + "; message: " + error.errorMessage + "; description = " + error.description, document.location);
		});
		
		function doSomething() {
			undeclaredVariable.clicked = true;
		}
	</h:outputScript>
</h:head>

<h:body>
	<p:panel header="Create a new widget">
		<h:form id="form">
			<p:messages id="messages" />
			<h:panelGrid columns="2" style="margin-bottom: 5px">
				<h:outputLabel for="name" value="Name:" />
				<p:inputText id="name" label="Name"
					value="#{widgetViewer.selectedWidget.name}" required="true" />

				<h:outputLabel for="createdDate" value="Created date:" />
				<p:calendar id="createdDate" label="Created date" size="10"
					value="#{widgetViewer.selectedWidget.createdDate}" required="true" />

				<h:outputLabel for="size" value="Size" />
				<p:inputText id="size" value="#{widgetViewer.selectedWidget.size}"
					label="Size" size="5">
					<f:validateLongRange minimum="1" maximum="1000" />
					<f:convertNumber />
				</p:inputText>

				<h:outputLabel for="inspected" value="Inspected?" />
				<p:selectBooleanCheckbox id="inspected" label="Inspected"
					value="#{widgetViewer.selectedWidget.inspected}" />

				<h:outputLabel for="approved" value="Approved?" />
				<p:selectBooleanCheckbox id="approved" label="Approved"
					value="#{widgetViewer.selectedWidget.approved}" required="true" />

				<f:facet name="footer">
					<p:commandButton id="create" value="Create"
						action="#{widgetViewer.save}" update="@form">
					</p:commandButton>

					<h:commandButton id="unrecoverableCreate"
						value="Create (unrecoverable)" style="padding: 5px"
						styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only "
						action="#{widgetViewer.unrecoverableSave}">
						<f:ajax execute="@form" render="@form" />
					</h:commandButton>

					<p:commandButton id="createNoAjax" value="Create (no Ajax)"
						action="#{widgetViewer.unrecoverableSave}" ajax="false" />

					<p:commandButton id="createJsException"
						value="Create (JS Exception)" type="button"
						onclick="return doSomething()">
					</p:commandButton>

				</f:facet>
			</h:panelGrid>
		</h:form>
	</p:panel>
</h:body>
</html>