<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputScript>
		function doSomething() {
			undeclaredVariable.clicked = true;
		}
	</h:outputScript>
</h:head>

<h:body>
	<p:panel header="Create a new widget">
		<h:form id="form">
			<p:messages id="messages" />
			<h:panelGrid columns="2" style="margin-bottom: 5px">
				<h:outputLabel for="name" value="Name:" />
				<p:inputText id="name" label="Name"
					value="#{widgetViewer.selectedWidget.name}" required="true" />

				<h:outputLabel for="createdDate" value="Created date:" />
				<p:calendar id="createdDate" label="Created date" size="10"
					value="#{widgetViewer.selectedWidget.createdDate}" required="true" />

				<h:outputLabel for="size" value="Size" />
				<p:inputText id="size" value="#{widgetViewer.selectedWidget.size}"
					label="Size" size="5">
					<f:validateLongRange minimum="1" maximum="1000" />
					<f:convertNumber />
				</p:inputText>

				<h:outputLabel for="inspected" value="Inspected?" />
				<p:selectBooleanCheckbox id="inspected" label="Inspected"
					value="#{widgetViewer.selectedWidget.inspected}" />

				<h:outputLabel for="approved" value="Approved?" />
				<p:selectBooleanCheckbox id="approved" label="Approved"
					value="#{widgetViewer.selectedWidget.approved}" required="true" />

				<p:commandButton id="create" value="Create"
					action="#{widgetViewer.save}" update=":form" />
				<p:commandButton id="jsErrorCreate" value="Create (JS Error)"
					onclick="return doSomething();" type="button"/>	
			</h:panelGrid>
		</h:form>
	</p:panel>
</h:body>
</html>